<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="pompini.ro">
    <meta name="description" content="Apa devine inteligenta. Cu ajutorul sistemelor de automatizare si control, personalizati fiecare picatura de apa">
    <meta name="keywords" content="apa inteligenta, automatizari pompe, variator de turatie, presotat electronic, control apa, controler pompe submersibile">
    <title>Pompini.ro - Izvorul dumneavoastra de Apa "Smart"</title>

   <%- include("../fragmente/head.ejs") %>

</head>
<body>

<%- include("../fragmente/header.ejs") %>



    <main>
        <p id="watermark"></p>
        <div id="grid-pagina">

<!--Bannerul principal-->
          <section class="poster" id="banner">
                <figure>
                    <img src="/resources/img/banner5.jpg">

                </figure>
            </section>

            <!-- trebuie sa intreb care e diferenta daca pun si div cu nume gen container-tabel-->


<section id="tabel">


            <table>
                <h2>Programul nostru de lucru</h2>
                <caption id="captionTabel">Samabata, Duminica si in afara programului, manerul usii <strong>CURENTEAZA</strong></caption>
                <thead>
                <tr>
                    <th>Zi</th>
                    <th>Deschidem</th>
                    <th>Inchidem</th>
                    <th>Pauza</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Luni</td>
                    <td>09:00</td>
                    <td>17:00</td>
                    <td>13:00-14:00</td>

                </tr>
                <tr>
                    <td>Marti</td>
                    <td>09:00</td>
                    <td>17:00</td>
                    <td>13:00-14:00</td>

                </tr>
                <tr>
                    <td>Miercuri</td>
                    <td>09:00</td>
                    <td>17:00</td>
                    <td>13:00-14:00</td>

                </tr>
                <tr>
                    <td>Joi</td>
                    <td>09:00</td>
                    <td>17:00</td>
                    <td>13:00-14:00</td>

                </tr>
                <tr>
                    <td>Vineri</td>
                    <td>09:00</td>
                    <td>14:00</td>
                    <td>-</td>

                </tr>
                <tr>
                    <td>Sambata</td>
                    <td>go home!</td>
                    <td colspan="2">order online!!!</td>
                </tr>
                <tr>
                    <td>Duminica</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4"><STRONG>NU REPARAM, NU FACEM SERVICE!!!</STRONG></td>
                </tr>
                </tfoot>
            </table>



    </section>




            <section id="evenimente">
                <h2>Zona 3 - Exemple Montaj</h2>

                <div id=container-video>
                    <div id="clip-video">
                        <div id="stil-video">

                                <video controls="controls"  poster="/resources/img/sprinkler.jpg"  preload="none" loop muted>
                                    <source src="/resources/video/rainbird3500.mp4" type="video/mp4">
                                    <source src="/resources/video/rainbird3500.ogv" type="video/ogv">
                                    <track default src="/resources/video/tracks/captions-rainbird3500_ro.vtt" kind="captions" srclang="ro" label="romana" />
                                    <track  src="/resources/video/tracks/captions-rainbird3500_en.vtt" kind="captions" srclang="en" label="engleza" />
                                </video>
                        </div>
                    </div>
                </div>


                <p> Zona 3 este pentru calendarul de evenimente. Veți pune un placeholder.</p>
                <p> Zona 3 este pentru calendarul de evenimente. Veți pune un placeholder.</p>
                <p> Zona 3 este pentru calendarul de evenimente. Veți pune un placeholder.</p>
                <p> Zona 3 este pentru calendarul de evenimente. Veți pune un placeholder.</p>
            </section>

            <section id="linkuri-video">
                <h2>Zona 6 - Prezentare echipamente</h2>
                <article>
                    <h3>Prezentare echipamente</h3>
                    <p>Dacă doriți să montati singuri automatizarea, desi nu este recomandat, <strong>mai intai informati-va!</strong></p>

                    <div class="video-links">
                        <a href="https://www.youtube.com/embed/gWGehQOVBEs" target="ifr-video">Prima instalare</a>
                        <a href="https://www.youtube.com/embed/mYm7SA237-k" target="ifr-video">Meniul avansat</a>
                        <a href="https://www.youtube.com/embed/pAvXmxwIWPk" target="ifr-video"><span></span>Legaturi electrice</a>
                    </div>

                    <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/gWGehQOVBEs"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>


                <p> Zona 6 este pentru linkuri video. Veți pune un placeholder.</p>

            </section>

            <section id="utilizatori-online">
                <h2>Zona 5 - Utilizatori online</h2>

                <p><strong>Ip-ul</strong> dumneavoastra este: <%- locals.ip %></p>
                <p> Zona 5 este pentru lista de utilizatori online. Placeholder.</p>
                <p> Zona 5 este pentru lista de utilizatori online. Placeholder.</p>
                <p> Zona 5 este pentru lista de utilizatori online. Placeholder.</p>
                <p> Zona 5 este pentru lista de utilizatori online. Placeholder.</p>
                <p> Zona 5 este pentru lista de utilizatori online. Placeholder.</p>
            </section>

            <section id="statistici">
                <h2>Zona 6 - Statistici</h2>


                <p> Zona 6 este pentru date despre utilizator și statistici. Placeholder.</p>
                <p> Zona 6 este pentru date despre utilizator și statistici. Placeholder.</p>
                <p> Zona 6 este pentru date despre utilizator și statistici. Placeholder.</p>
                <p> Zona 6 este pentru date despre utilizator și statistici. Placeholder.</p>
                <p> Zona 6 este pentru date despre utilizator și statistici. Placeholder.</p>
            </section>

            <section id="server">
                <h2>Zona 7 - Placeholder</h2>


                <p>Zona 7 este pentru date despre site și server. Placeholder.</p>
                <p>Zona 7 este pentru date despre site și server. Placeholder.</p>
                <p>Zona 7 este pentru date despre site și server. Placeholder.</p>
                <p>Zona 7 este pentru date despre site și server. Placeholder.</p>
            </section>

            <section id="diverse">
                <h2>Zona 8 - Tutoriale configurare</h2>
                <article>
                    <div id="columns">
                    <h3> Montaj presotat electronic</h3>
                        <p>in zona 8 stilizam cum vrem noi</p>
                        <p>eu vreau sa fac coloane</p>
                        <p>in zona 8 stilizam cum vrem noi</p>
                        <p>eu vreau sa fac coloane</p>
                        <p>in zona 8 stilizam cum vrem noi</p>
                        <p>eu vreau sa fac coloane</p>
                        <p>in zona 8 stilizam cum vrem noi</p>

                        <p>Alegeți un loc potrivit pentru instalare. <b>Presostatul electronic</b> trebuie montat într-un loc uscat și bine ventilat.</p>
                        <p>Faceți o gaură în <s>perete</s> <ins> teava </ins>sau în peretele rezervorului de apă, de dimensiunea corespunzătoare a presostatului electronic.</p>
                        <p>Introduceți <b>presostatul electronic</b> în gaură și fixați-l cu șuruburi.....</p>
                        <p>Setați presiunea de pornire P1 - <i>DP Start</i> - și presiunea de oprire P2 - <i>DP Stop</i>  a <b>automatizarii apei</b>.</p>
                        <p>Rugati-va sa functioneze si, vorba instalatorului: <q>Garantia e pe viata, daca nu traiti mult!</q></p>

                    <aside> Intotdeauna, utilizați un <b>presostat electronic</b> care este compatibil cu <b>pompa de apă</b> pe care o folosiți.</aside>
                    <p><strong>Atentie!</strong> Legaturile electrice trebuie realizate numai de catre personal autorizat.</p>
                    <!-- cerinta 8, imagine cu descriere - figure si figcaption-->
                    <figure>
                        <img sizes="(min-width:400px) 400px, (min-width:200px) 160px,  20px"
                             srcset="/resources/img/montaj_pressystem_340.jpg 340w, /resources/img/montaj_pressystem_170.jpg 174w, /resources/img/montaj_pressystem_40.jpg 50w"
                             src="/resources/img/montaj_pressystem_340.jpg"
                             alt="[Exemplu montaj Pressystem]" title="variator de turatie, Sirio universal" />
                        <figcaption>Exemplu montaj PresSystem</figcaption>
                        <!--link extern-->

                    </figure>
                    </div>
                    <aside><a href="https://pompe-submersibile.com.ro/accesorii-automatizari-pompe/presostate-electronice/presostat-electronic-reglabil-pressystem">Aceast exemplu a fost preluat de pe siteul <i>pompe-submersibile.com.ro</i></a></aside>

                </article>

                <hr>

                <%- include("../fragmente/galerie-statica.ejs") %>

                <hr>

                <section id="promotii">
                <div id="h2original">
                    <h2>Promotii</h2>
                    <div id="h2reflexie">
                        <h2>Promotii</h2>
                    </div>
                </div>
                    <br>


                <article>
                    <h3>Ofertele verii</h3>
                    <p><b>Pompini.ro</b> te racoreste vara aceasta cu oferte <b>automatizari pompe</b></p>
                    <ol>
                        <li>pentru orice <b>automatizare pompa submersibila</b> cumparata, primesti consultanta gratuita</li>
                        <li>pentru orice <b>pompa + automatizare</b> cumparata, primesti reducere 10% la montaj</li>
                    </ol>
                </article>
                <article>
                    <h3>Oferte permanente</h3>
                    <ol>
                        <li>cauta pompe si vei gasi</li>
                        <li>cauta <b>controler pompa</b> sau <b>automatizari</b> si vei gasi</li>
                        <li>cauti degeaba <b>apa inteligenta</b>, iti trebuie un dispozitiv inteligent numit <i>variator de turatie</i> </li>
                        <!-- <img sizes="(min-width:700px) 700px, (min-width:400px) 300px,  20px"
                srcset="/resources/img/sirio_universal_600.jpg 600w, /resources/img/sirio_universal_300.jpg 300w, /resources/img/sirio_universal_75.jpg 75w"
                alt="[produs sirio]" title="variator de turatie, Sirio universal" /> -->
                    </ol>
                </article>
            </section>

            <section id="index-intrebari">
                <h2>Întrebări frecvente</h2>
                <details>
                    <summary> Cum calculez corect debitul pompei instalate?</summary>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                            <mi>Q</mi>
                            <mo>=</mo>
                            <mi>A</mi>
                            <mo>*</mo>
                            <mi>V</mi>
                        </mrow>
                    </math>
                    <p>unde:</p>
                    <ul>
                        <li>Q reprezintă debitul pompei.</li>
                        <li>A reprezintă aria secțiunii transversale a conductei prin care curge fluidul.</li>
                        <li>V reprezintă viteza fluidului în conductă.</li>
                    </ul>

                    <p><em>Exemplu</em>: o pompa montata pe o teava cu diamentru de 25 mm cu presiunea de 3 bari</p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <p>
                            <mrow>
                                <mi>Q</mi>
                                <mo>=</mo>
                                <mi>25</mi>
                                <mo>*</mo>
                                <mi>35</mi>
                            </mrow>
                        </p>
                        <mrow>
                            <mi>Q</mi>
                            <mo>=</mo>
                            <mi>87.5 l / min</mi>
                        </mrow>
                    </math>
                </details>

                <details>
                    <summary>Produsele dumneavoastră pot fi montate de catre incepatori?</summary>
                    <p>Nu!</p>
                </details>
                <details>
                    <summary>Se poate comanda telefonic?</summary>
                    <p>Nu, comenzile se fac doar pe site!</p>
                </details>
                <details>
                    <summary>Se pot pune intrebari telefonic?</summary>
                    <p> Da!</p>
                </details>
                <details>
                    <summary>Aveti echipa de montaj? Specialisti in automatizari?</summary>
                    <p>Dorel - seful de echipa, Aurel - seful sefului de echipa, Pic si Poc - managerii de sapat santuri...!</p>
                </details>
            </section>
            </section>
        </div>

    </main>

<%- include("../fragmente/footer.ejs") %>

 </body>
</html>
