<section id="galerie-statica">
    <h2>Galerie</h2>
    <div id="grid-galerie">
        <%
        let prezent = new Date();
        let oraCurenta = prezent.getHours();
        let minutulCurent = prezent.getMinutes();
        console.log(oraCurenta);
        console.log(minutulCurent);
        let afisate = 0; // counterul de imagini afisate

                for (let imag of img) {
            let intervalTimp = imag.timp.split("-");

            let inceputInterval = intervalTimp[0];
            let sfarsitInterval = intervalTimp[1];

            let [h1, m1] = inceputInterval.split(":").map(Number);
            let [h2, m2] = sfarsitInterval.split(":").map(Number);
        //acum vreau daca imaginile afisate <10 si mai sunt imagini
        //ce corespund intervalului de timp, sa le afiseze

        if (h1 * 60 + m1 <= oraCurenta * 60 + minutulCurent && oraCurenta * 60 + minutulCurent <= h2 * 60 + m2) {
        %>
            <figure>
            <picture>
                <source srcset="<%- imag.cale_imagine_mic %>" media="(max-width:700px)" />
                <source srcset="<%- imag.cale_imagine_mediu %>" media="(max-width:1000px)" />
                <img src="<%= imag.cale_imagine %>"  alt="<%= imag.titlu %>" title="<%= imag.titlu %>">
                <figcaption><%= imag.descriere %></figcaption>
            </picture>
            </figure>

        <% } %>

<!--            if (afisate < 10){-->
<!--            <figure>-->
<!--                <img src="/resources/img/erori/lupa.png" alt="Imagine lipsa" title="Imagine lipsa">-->
<!--                <figcaption>Imagine lipsă</figcaption>-->
<!--            </figure>-->
        <%
        }
        %>
    </div>
</section>
